.form-header {
	border-bottom: 1px solid #ddd;
	padding: 8px;
}
.error-msg {
	color: red;
	margin-left: 20px;
}
#content form {
	padding: 40px;
}
#content form p {
	padding-top: 10px;
	padding-bottom: 10px;
}
#content .input-header {
	display: inline-block;
	width: 100px;
	text-align: right;
	padding-right: 20px;
}
#content form input[type=text],#content form input[type=password],#content form select {
	width: 300px;
	height: 28px;
	padding: 0px;
	margin: 0px;
}
#content form a:hover {
	text-decoration: underline;
}
.input-tips {
	color: #999;
	padding: 0px;
}