<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.vsgames.bbs.mapper.UserMapper">

	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
	insert into t_user (username,email,password,register_time,avatar)
	values (#{username},#{email},#{password},now(),#{avatar})
	</insert>
		
</mapper>