<html>
    <body>
        <h3>尊敬的用户，您好！</h3>

        <p>
				您在VSGAMES使用了密码重置功能，请点击以下链接进行密码重置。
        </p>
		<p>
				<a href='${linkurl}'>
					${linkurl}
				</a>
        </p>
		<p>
				如果您无法点击以上链接，请复制网址到浏览器里直接打开。
        </p>
		<p>
				该链接一个小时后将会失效。如果不是您本人操作，可能是其他用户误输入了您的邮箱地址，请忽略此邮件。
        </p>
    </body>
</html>